---
import "../styles/global.css"
import {Image} from 'astro:assets';
import heroImage from '../assets/heroimg.webp'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <div class="flex gap-[20px] flex-col items-center">
      <!-- Bloque 1 -->
      <div class="flex-col flex w-full grow h-screen bg-[#1A1A1A]">
        <div class="p-4 flex gap-[20px] flex-wrap">

          <div>
            <p class="text-white text-3xl">
            "Cultiva tu fuerza,<br>honra tu cuerpo"</p>
          </div>

          <div class="grow"></div>

          <div class="flex items-center">
            <button class=" rounded-full p-2 bg-[#00b050] text-white"> 
              Pide por whatsapp
            </button>
          </div>

        </div> 
          <div class="grow w-auto flex justify-end">
            <Image src={heroImage} alt="Hero Image" class="object-scale-[0.5] w-auto "/>
          </div>

      </div>
      <div class="w-[250px] grow">2</div>
      <div class="w-[250px] grow">3</div>
      <div class="w-[250px] grow">4</div>
    </div>
	</body>
</html>
