---
import "../styles/global.css";
import { Image } from "astro:assets";
import heroImage from "../assets/imagenes/hero.png";
import logo from "../assets/imagenes/logo_white.png";
---

<section class="space-y-aut grow bg-[#1A1A1A] w-full flex-col flex h-auto">
  <div class="flex w-full items-center">
    <div>
      <p class="text-white text-3xl">
        "Cultiva tu fuerza,<br />honra tu cuerpo"
      </p>
    </div>
  </div>

  <div
    class="w-full flex flex-col-reverse md:flex-row lg:flex-row items-end grow"
  >
    <Image
      src={heroImage}
      alt="Hero Image"
      class="flex grow h-1/2 md:w-full lg:w-full"
    />
    <div class="flex flex-row lg:flex-col">
      <div class="grow flex"></div>
      <Image
        src={logo}
        alt="logo"
        class="w-5/7 lg:w-full aspect-auto object-contain"
      />
      <div class="grow flex"></div>
    </div>
  </div>
</section>
