---
import "../styles/global.css";
import { Image } from "astro:assets";
import heroImage from "../assets/imagenes/hero.png";
---

<section class="px-10 flex-col flex w-full min-h-screen grow bg-[#1A1A1A]">
  <div class="flex" gap-[20px] flex-wrap">
    <div>
      <p class="text-white text-3xl">
        "Cultiva tu fuerza,<br />honra tu cuerpo"
      </p>
    </div>

    <div class="grow"></div>

    <div class="flex items-center">
      <button class="rounded-xl p-3 bg-[#00b050] text-white text-2xl">
        Pide por whatsapp
      </button>
    </div>
  </div>

  <div class="grow w-auto flex justify-center">
    <Image src={heroImage} alt="Hero Image" class="w-auto object-contain" />
  </div>
</section>
